<div class="wrapper-box">
    <div class="box">
        <div class="item">
            <img src="~/imgs/menu-affogato.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/menu-black.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/menu-expresso.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/menu-machiato.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>
    </div>

    <div class="box">
        <div class="item">
            <img src="~/imgs/menu-mocha.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/cafe.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/caphe.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>

        <div class="item">
            <img src="~/imgs/caphe.jpg" />
            <h2>Name</h2>
            <p>Price</p>
            <input type="submit" value="AddToCart" />
        </div>
    </div>
</div>

<div class="wrapper">
    <span class="close">
        <ion-icon name="close"></ion-icon>
    </span>

    <div class="form-box login">
        <h2>Login</h2>

        <form method="post">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>

                <input type="text" title="username" required placeholder="Username">
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>

                <input type="password" title="password" placeholder="Password">
            </div>

            <div class="forgot-pass remember">
                <label for="rememberP">
                    <input type="checkbox" id="rememberP" title="Remember">
                    Remember me
                </label>

                <a asp-controller="" asp-action="">Forgot password</a>
            </div>

            <button type="submit">Login</button>

            <div class="register">
                <p>
                    Not a member?
                    <a href="#" class="register-link">Register</a>
                </p>
            </div>
        </form>
    </div>


    <!-- Register -->
    <div class="form-box register">
        <h2>Registration</h2>

        <form method="post">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>

                <input type="text" title="username" required placeholder="Username">
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>

                <input type="email" title="email" placeholder="Email">
            </div>

            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>

                <input type="password" title="password" placeholder="Password">
            </div>

            <div class="forgot-pass remember">
                <label for="agree">
                    <input type="checkbox" id="agree" title="Remember">
                    I agree to the terms and conditions.
                </label>
            </div>

            <button type="submit">Register</button>

            <div class="register">
                <p>
                    Already an account?
                    <a href="#" class="login-link">Login now</a>
                </p>
            </div>
        </form>
    </div>
</div>
