    <!-- about section starts -->
    <section class="about" id="about">
        <div class="image">
            <img src="~/user/images/about.png" alt="">
        </div>

        <div class="content">
            <h3>Try more and relax</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, sed est? Molestiae, delectus quis dignissimos laborum ratione atque nemo fuga ullam rem quo id nostrum odio perspiciatis voluptates minima! Aperiam.</p>
            <a href="#menu" class="btn">Our Menu</a>
        </div>
    </section>

    <!-- about section ends -->
    <!-- facility section starts -->

    <section class="facility">

        <div class="heading">
            <img src="~/user/images/breakpage.png" alt="">
            <h3>Our Facility</h3>
        </div>

        <div class="box-container">

            <div class="box">
                <img src="~/user/images/veri-3.png" alt="">
                <h3>Varieties of coffee</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tenetur suscipit neque.</p>
            </div>

            <div class="box">
                <img src="~/user/images/veri-4.png" alt="">
                <h3>Breakfast And Sweets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tenetur suscipit neque.</p>
            </div>

            <div class="box">
                <img src="~/user/images/veri-1.png" alt="">
                <h3>Coffee Beans</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tenetur suscipit neque.</p>
            </div>

            <div class="box">
                <img src="~/user/images/veri-2.png" alt="">
                <h3>Why To Go Coffee?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tenetur suscipit neque.</p>
            </div>

        </div>
    </section>

    <!-- facility section ends -->
    <!-- menu section starts -->

    <section class="menu" id="menu">

        <div class="heading">
            <img src="~/user/images/breakpage.png" alt="">
            <h3>Popular Menu</h3>
        </div>

        <div class="box-container">

            <div class="box">
                <img src="~/user/images/menu-affogato.jpg" alt="">
                <h3>Affogato</h3>
            </div>

            <div class="box">
                <img src="~/user/images/menu-black.jpg" alt="">
                <h3>Black Coffee</h3>
            </div>

            <div class="box">
                <img src="~/user/images/menu-expresso.jpg" alt="">
                <h3>Expresso</h3>
            </div>

            <div class="box">
                <img src="~/user/images/menu-machiato.jpg" alt="">
                <h3>Machiato</h3>
            </div>

            <div class="box">
                <img src="~/user/images/menu-mocha.jpg" alt="">
                <h3>Mocha Coffee</h3>
            </div>

            <div class="box">
                <img src="~/user/images/menu-affogato.jpg" alt="">
                <h3>Affogato</h3>
            </div>

        </div>

    </section>

    <!-- menu section ends -->
    <!-- gallery section starts -->

    <section class="gallery" id="gallery">

        <div class="heading">
            <img src="~/user/images/breakpage.png" alt="">
            <h3>Our Gallery</h3>
        </div>

        <div class="box-container">
        </div>


    </section>

    <!-- gallery section ends -->


    <footer>
    </footer>
    <script src="~/js/users/js.js"></script>    
