<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Peacful</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="~/user/css/style.css">

</head>
<body>
    <!-- header section starts -->
    <header class="header">
        <section class="flex">
            <a href="#home" class="logo"><img src="~/user/images/logo.jpg" alt=""></a>
            <nav class="navbar">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#menu">Menu</a>
                <a href="#gallery">Gallery</a>
                <a href="#team">Team</a>
                <a href="#contact">Contact</a>
            </nav>
            <div id="menu-btn" class="fas fa-bars"></div>
        </section>
    </header>
    <!-- header section ends -->
    <!-- home section starts -->
    <div class="home-bg">
        <section class="home" id="home">
            <div class="content">
                <h3>Coffee Peaceful</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, autem distinctio? Eum error corrupti aliquid.</p>
                <a href="#about" class="btn">About Us</a>
            </div>
        </section>
    </div>

    <!-- home section ends -->
    @RenderBody();
</body>
@*<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>*@
@*<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>*@
</html>

